*{
    margin:0;
    padding:0;
}
body{
    background-color: white;
    text-align: center;
    position:relative;
}
.container{
    height:70vh;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
}
.game{
    height:60vmin;
    /*pure page ka 60 percent hissa is for game */
    width:60vmin;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    gap:0.5vmin;
    position: relative;
}
.box{
    height:18vmin;  /* game page that 60 percent ka hissa diveed into 18 percent each line */
    width:18vmin;
    border-radius:1rem;
    border:none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    font-size:8vmin;
    color:#ff0066;;
    background-color: pink;
}
#reset-btn{
    padding: 1rem;
    font: size 1.25rem;
    background-color: fuchsia;
    color:black;
    border-radius:1rem;
    border:none;
}
#new-btn{
    padding: 1rem;
    font: size 1.25rem;
    background-color: violet;
    color:black;
    border-radius:1rem;
    border:none;
}
#msg{
    color:violet;
    font-size:5vmin;
    justify-content: center;
    align-items: center;

}
.msg-container{
    height:100vmin;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    flex-direction: column;
    gap:3rem;

}
.winnerLine{
    position:absolute;
    height:6px;
    width:100%;
    background-color:red;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:10;
    transform-origin: center;
    transition:0.3s ease;
}
.hide{
    display:none;
}


