*{
    margin:0px;
    padding:0px;
}
h1{
    background-color: #081b31;
    color:white;
    height:4rem;
    text-align: center;
    line-height: 4rem;
}
.choice{
    height:165px;
    width:165px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items: center;
}
.choice:hover{
    cursor:pointer;
    background-color: #081b31;
}
img{
    height:150px;
    width:150px;
    object-fit:cover;
    border-radius:50%;
}
.choices{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:3rem;
    margin-top: 5rem;

}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user-score,#comp-score{
    font-size:4rem;

}
.msg-container{
    margin-top: 5rem;
    text-align: center;
}
#msg{
    margin-top: 5rem;
    background-color: black;
    color:white;
    font-size:2rem;
    display:inline-block;
    padding:1rem;
    border-radius:1rem;
}
body{
    background-image:
      linear-gradient(rgba(236, 48, 48, 0.292), rgba(21, 50, 218, 0.297)),
      url(../../../../Downloads/bg.img.jpg);
    background-size: cover;
}
